{% extends "/layouts/public.twig" %} 
{% block title %}Accueil{% endblock %}

{% block content %}

<div class="carousel slide carousel-fade" data-ride="carousel">
    {# Indicators #}
    <ol class="carousel-indicators">
        {% for image in images %}
            {% if loop.first %}{% set active = 'active' %}{% else %}{% set active = '' %}{% endif %}
            <li data-target="#carousel-{{ name }}" data-slide-to="{{ loop.index0 }}" class="{{ active }}"></li>
        {% endfor %}
    </ol>

    {# Wrapper for slides #}
    <div class="carousel-inner" role="listbox">
        {% for image in images %}
            {% if loop.first %}{% set active = 'active' %}{% else %}{% set active = '' %}{% endif %}
            <div class="item {{ active }}">
                <img src="images/carrousel/{{ image.filename }}" alt="{{ image.title }}">
                <!-- div class="carousel-caption">{{ image.title }}</div -->
            </div>
        {% endfor %}
    </div>
    {# Controls #}
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <i class="fa fa-chevron-right"></i>
    </a>
</div>

<div id="home">
    <h1 class="title-main">Dernières sorties</h1>

    <div id="movies">

        {% for movie in movies %}
        <article>
            <a href="{{ getUrl('details', {'slug' : movie.slug}) }}">
                <h2>{{ movie.title }}</h2>
                <p>{{ movie.synopsis }}</p>
                <img src="images/poster/{{ movie.poster }}" alt="{{ movie.title }}" />
            </a>
        </li>
    </article>
    {% endfor %}
</div>
</div>
{% endblock %}

