{% extends "/layouts/public.twig" %} 
{% block title %}Accueil{% endblock %}

{% block content %}

<div class="carrousel wrapper">
<img src="images/slider/banner-a-la-une.jpg" alt="slider à la une">   
</div>

<div id="home">
    <h1 class="title-main">Dernières sorties</h1>

    <div id="movies">

        {% for movie in movies %}
        <article>
            <a href="{{ getUrl('details', {'slug' : movie.slug}) }}">
                <h2>{{ movie.title }}</h2>
                <p>{{ movie.synopsis }}</p>
                <img src="images/poster/{{ movie.poster }}" alt="{{ movie.title }}" />
            </a>
        </li>
    </article>
    {% endfor %}
</div>
</div>
{% endblock %}

